footer.mt-auto.py-4.text-white(style="background-color: #031633;")
   .container
      .row
         .d-flex.justify-content-between.align-items-center
            | CPOE - Computerized Physician Order Entry
            a.btn.btn-sm.btn-outline-light(href="https://github.com/", target="_blank", data-bs-toggle="tooltip", data-bs-placement="left", data-bs-title="Github")
               i.bi-github
