include nav-admin.pug

.container.mt-4
   .row
      .col-md-6
         form#formu(action="", method="post")
            h2.mb-4 Agregar prestaci贸n

            .mb-3
               label.form-label(for="") Nombre de la prestaci贸n:
               input#prestacionInput.form-control(type="text", placeholder="Prestaci贸n", oninput="validarInput('#prestacionInput', '#agregarPrestacion')")

            .mb-4
               button#agregarPrestacion.btn.btn-success(type="button" disabled) Agregar

      .col-md-6
         h2.mb-4 Listado de prestaciones

         .mb-3
            label.form-label(for="") Buscar: 
            input#buscarPrestacion.form-control(type="text", placeholder="Buscar prestaci贸n por nombre")

         .mb-4
            #prestacionesInfo
               each prestacion in prestaciones
                  .alert.alert-success.mb-1(role="alert", data-id=prestacion.id)
                     | #{prestacion.nombre}

script(src="./js/prestacion.js") 